.cabecalho{
    background-color: mediumvioletred;
    color: brown;
    text-align: center;
}

.cabecalho-título{
    text-transform: uppercase;
    text-decoration: underline;
}

.cabecalho-imagem{
    width: 800px;
    border: 3px goldenrod;
    border-radius: 10px;
}